<div class="mt3">
   <%= form.label :email, class: "db fw6 lh-copy f6" %>
   <%= form.text_field :email, type: 'email', class: "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
</div>

<div class="mv3">
  <%= form.label :password, class: "db fw6 lh-copy f6" %>
  <%= form.password_field :password, class: "b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
</div>
